

<div class="row justify-content-center mt-4 pl-5 pr-5">
  <img src="assets/images/burger.png"/>
  <h3 class="w-100 text-center text-danger p-1">Eat-Da-Burger!</h3>

<h6 class="w-100">Enter and submit the burger you want to eat</h6>
<form class="myBurger w-100">
  <div class="input form-group d-block">
    <input  class="h-100 m-0 p-0" type="text" id="burger" name="name">
    <button class="btn btn-primary h-100 m-0" type="submit">Submit</button>
  </div>
  
</form>

</div>

<div class="row m-0"> 
  <div class="col tablewrapper mr-5">
    <h5 class="p-2 w-100 text-center">Burgers you want to devour!</h5>
  <table class="table table-light">
    <thead>
      <tr>
        <th>ID</th>
        <th>Burger name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block}}
          {{/unless}}
      {{/each}}
    </tbody>
  </table>
</div>
 

<div class="col tableWrapper">  
  <h5 class="p-2 w-100 text-center">Burgers you devoured!</h5>

  <table class="table table-light">
    <thead>
      <tr>
        <th>ID</th>
        <th>Burger name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-devoured}}
          {{/if}}
      {{/each}}
    </tbody>
  </table>
  </div>
</div>
 




