

<div class="row justify-content-center mt-4">
  <img src="assets/images/burger.png"/>
  <h3 class="w-100 text-center text-danger p-1">Eat that burger!</h3>

<div> 
 <h5>Burgers you want to eat!</h5>

<ul class="list-group">
  {{#each burgers}}
    {{#unless devored}}
      {{> burgers/burger-block devor=true}}
    {{/unless}}
  {{/each}}
</ul>

<h5>Burgers you devored!</h5>

<ul>
  {{#each burgers}}
    {{#if sleepy}}
      {{> burgers/burger-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>


</div>
 
<h6 class="w-100 text-center">Enter and submit the burger you want to eat</h6>
<form class="create-form">

  <div class="form-group">
    <input type="text" id="ca" name="name">
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

</div>



