 body {
     background-color: lawngreen;
 }
 
 img {
     width: 150px;
     height: auto;
 }
 
 .tablewrapper {
     width: 400px;
 }
 
 button {
     border-radius: 5px;
     width: 90px;
 }
 
 .name {
     height: 56px;
     width: 300px;
 }