
     <tr data-id="{{id}}">
        <td>{{id}}</td>
        <td class="name">{{burger_name}}</td>
        <td>
			<button class="btn-outline-dark devour" data-id="{{this.id}}">Devour it!</button>
		</td>
      </tr>