
     <tr>
        <td>{{id}}</td>
        <td class="name">{{burger_name}}</td>
        <td>
			<button class="btn-outline-dark float-right" data-id="{{this.id}}">Devor it!</button>
		</td>
      </tr>